# Editor cruft
**/.vscode/

# Build cruft
**/build*/
**/_build*/
**/_templates*/
**/bin*/
**/dist*/
**/fatfs_mkimage

# Build & debug cruft
*.a
*.vcd
*.gtkw

# Filesystem cruft
*.fs
**/flash_bin_node0
filesystem_support/fw-*
filesystem_support/spanning-xn*
filesystem_support/target-xn*

# Python cruft
**/.python-version
**/*.pyc
**/__pycache__/*
**/*egg-info

# venv
.venv

# test cruft
**/test_*.log
*.bin
examples/**/*.png
test/**/*.png

# macOS cruft
.DS_Store

**/*.swp
tests/lib_aec/test_aec_spec/audio_in
tests/profile_memory/worker_logs
tests/profile_mips/worker_logs
*.log
tests/lib_adec/test_adec/*.png
tests/lib_ic/test_bad_state/*.wav
tests/lib_aec/test_aec_enhancements/audio_in
tests/lib_aec/test_aec_enhancements/filter_out
tests/lib_aec/test_aec_enhancements/audio_out
tests/lib_aec/test_aec_spec/audio_out
tests/lib_aec/test_aec_spec/results
**/*put_wavs
**/*put_files
